extends layout 

block content
  .container
    h2 #{title}
    if categoryCars.length
      p  #[strong You have to delete all these cars in order to delete it's category]
      each car in categoryCars
        .list-cars
          a(href=car.url) #{car.name}
          p #{car.description}
    else
      .delete-category
        p Do you really want to Delete #[strong #{category.name}] category?
        form(method='POST', action='')
          input(type='hidden')
          .delete-btn
            input(type='submit' value='Delete' style='background: red')
            span.cancel
              a.active(href=category.url) Cancel
    span.cancel.back(onclick='goBack()') Back
    script.
      function goBack() {
      window.history.back();
      }
            
