extends layout

block content
  .container
    h2 #{title}
    if cars.length
      .category-cars
        each car in cars
          .cars-category
            .car-image
              img.car.image-tag(src=car.image  alt=car.name style='width:100%; min-height: 100%')
              .car-title
                h3 #{car.name}
            div.cars-description #{car.description}
            span.see-category
              a.active #{car.category.name}
            span.cancel.see-detail
              a.active(href=car.url) See detail
    else
      .delete-category
        p #[strong There is no car for this category yet]
          .delete-btn
            span.cancel
              a.active(href='/catalog/car/create') Create Car
    span.cancel.back(onclick='goBack()') Back
    script.
      function goBack() {
        window.history.back();
      }